<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Wasp Remote Control </title>
        <link rel="stylesheet" href="/static/css/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
        </style>
        <script src="/static/js/jquery-1.7.1.min.js"> </script>
        <script src="/static/js/jquery.mobile-1.1.0.min.js"> </script>
    </head>
    <body>
        <div data-role="page" id="index">
            <div data-theme="d" data-role="header" data-position="fixed">
                <h3> Wasp </h3>
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="/index" data-theme="b" data-icon="home" data-ajax="false" class="ui-btn-active"> Control </a>
                        </li>
                        <li>
                            <a href="/listing" data-theme="b" data-icon="search" data-ajax="false"> Browse Media </a>
                        </li>
                        <li>
                            <a href="/config" data-theme="b" data-icon="gear" data-ajax="false"> Configuration </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-role="content">
            </div>
        </div>
        <script>
        </script>
    </body>
</html>
