<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Wasp Remote Control </title>
        <link rel="stylesheet" href="/static/css/jquery.mobile-1.1.0.min.css" />
        <style>
            div.mute-ctrl .ui-slider-switch { 
                width: 9em 
            }

            .centered {
                margin:0 auto;
                margin-left:auto;
                margin-right:auto;
                text-align:center;
            }

            .centered input {
                padding: 0px;
                margin: 0px;
            }
        </style>
        <script src="/static/js/jquery-1.7.1.min.js"> </script>
        <script src="/static/js/jquery.mobile-1.1.0.min.js"> </script>
    </head>
    <body>
        <div data-role="page" id="index">
            <div data-theme="d" data-role="header" data-position="fixed">
                <h3> Wasp </h3>
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="/" data-theme="b" data-icon="home" data-ajax="false" class="ui-btn-active"> Control </a>
                        </li>
                        <li>
                            <a href="/browse" data-theme="b" data-icon="search" data-ajax="false"> Browse Media </a>
                        </li>
                        <li>
                            <a href="/config" data-theme="b" data-icon="gear" data-ajax="false"> Configuration </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-role="content">
                <fieldset data-role="controlgroup">
                    <label for="slider1"> Volume </label>
                    <input type="range" name="volumeSlider" id="volume" value="100" min="0" max="100" step="10" data-highlight="false" />
                </fieldset>

                <fieldset data-role="controlgroup">
                    <label for="mute">Mute volume</label>
                    <input type="checkbox" id="mute" name="mute" /> 
                </fieldset>

                <div data-role="controlgroup" data-type="horizontal" data-mini="false" class="centered">
                    <input id="seek" data-val="-300" type="button" value="<<<"/> <!-- backward 5 mins -->
                    <input id="seek" data-val="-60" type="button" value="<<"/>   <!-- backward 1 min  -->
                    <input id="seek" data-val="-10" type="button" value="<"/>    <!-- backward 10 sec -->
                    <input id="seek" data-val="10" type="button" value=">"/>     <!-- forward 10 sec  -->
                    <input id="seek" data-val="60" type="button" value=">>"/>    <!-- forward 1 min   -->
                    <input id="seek" data-val="300" type="button" value=">>>"/>  <!-- forward 5 mins  -->
                </div>

                <div data-role="fieldcontain" class="mute-ctrl">
                    <input id="pause" type="button" data-icon="arrow-r" value="Pause/unpause"/>
                    <input id="stop" type="button" data-icon="delete" value="Stop playback"/>
                </div>
            </div>
        </div>
        <script>
            function resetToDefaults() {
                $("input#volume").val(100).slider("refresh");
                $("input#mute").attr("checked", false).checkboxradio("refresh");
            }

            // All jQueryMobile (slightly registered differently than normal jQuery) events
            // (Ajax calls) are coming here.
            $(document).bind("pageinit", function(event, ui) {

                $("input#volume").bind("change", function(event, ui) {
                    var volume = $(this).val()
                    var request = $.ajax({
                        type: "POST",
                        url: "/ajax/volume",
                        data: { 
                            volume: volume, 
                        },
                    });
                });

                $("input#pause").bind("click", function(event, ui) {
                    var request = $.ajax({
                        type: "POST",
                        url: "/ajax/pause",
                    });

                });

                $("input#stop").bind("click", function(event, ui) {
                    var request = $.ajax({
                        type: "POST",
                        url: "/ajax/stop",
                    });
                    
                    resetToDefaults();
                });

                $("input#mute").bind("change", function(event, ui) {
                    var value = $(this).is(":checked");
                    var request = $.ajax({
                        type: "POST",
                        url: "/ajax/mute",
                        data: {
                            mute : value,
                        }
                    });
                });

                $("input#seek").bind("click", function(event, ui) {
                    // use the data-val attribute to check the amount to seek relatively.
                    var value = $(this).data("val");
                    $.ajax({
                        type: "POST",
                        url: "/ajax/seek",
                        data: {
                            seek: value
                        }
                    });
                });
            });
        </script>
    </body>
</html>
