<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Wasp Remote Control </title>
        <link rel="stylesheet" href="/static/css/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="/static/js/jquery-1.7.1.min.js"> </script>
        <script src="/static/js/jquery.mobile-1.1.0.min.js"> </script>
    </head>
    <body>
        <div data-role="page" id="listing">
            <div data-theme="d" data-role="header">
                <h3> Wasp </h3>
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="/index" data-theme="b" data-icon="gear" data-ajax="false"> Control </a>
                        </li>
                        <li>
                            <a href="/listing" data-theme="b" data-icon="search" class="ui-btn-active" data-ajax="false"> Browse Media </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-role="content">
                <ul data-role="listview" data-theme="a" data-icon="gear">
                    <li><a href="listing?p={{ .ParentDir }}">Back to {{ .ParentDir }}</a></li>
                </ul>
                <p/>
                <ul data-role="listview" data-theme="c" data-icon="gear">
                    {{ $RequestPath := .RequestPath }}
                    {{ range .Directories }}
                        <li><a href="listing?p={{ $RequestPath }}/{{ . }}" data-transition="pop"><img src="/static/images/folder.png" class="ui-li-icon"/>{{ . }}</a></li>
                    {{ end }}
                </ul>
                <p/>
                <ul data-role="listview" data-theme="e" data-icon="gear">
                    {{ range .Files }}
                        <li><a href="#"><img src="/static/images/mediafile.png" class="ui-li-icon"/>{{ . }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>
